/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: left;
}

#table-attendances {
  th {
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-label-user--edit {
  margin-top: 15px;
  margin-bottom: 15px;
}

#table-users {
  td {
    vertical-align: middle;
  }
}

.btn-button-text {
  margin-top: 15px;
  margin-bottom: 15px;
}